@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color-silver: #f0f0f0;
  --radio-color-ligth-gray: #999999;
  --ft-color-dark-gray: #383838;
  --color-green: #38af90;
  --color-dark-gray: #797979;
  --color-white: #ffffff;
  --color-light-red: #dd7e92;
  --color-silver: #c4c4c4;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

.nav-container {
  background-color: var(--color-green);
  height: 90px;
  width: 100%;
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.nav-main {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
}

.nav-main a {
  color: var(--color-white);
  text-decoration: none;
}
.nav-brand {
  font-size: 18px;
  font-weight: 700;
}

.menu-items {
  display: none;
}

.menu-items a {
  font-size: 14px;
  font-weight: 400;
  padding: 0 15px;
}

.image-profile {
  padding-left: 15px;
}

.container {
  width: 100%;
  max-width: 990px;
}

.last-news {
  margin: 40px 0 8px 0;
}

.last-news h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-dark-gray);
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

.card-news {
  background-color: var(--bg-color-silver);
  margin: 8px 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(79, 79, 79, 0.5);
}
.card-news h2 {
  margin-top: 16px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-green);
  margin-bottom: 3px;
}

.card-news h3 {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--color-dark-gray);
  margin: 0;
}

hr {
  margin: 0;
  border: 1px solid var(--color-green);
}

.card-news h4 {
  margin-top: 1px;
  font-size: 0.625rem;
  font-weight: 400;
  color: var(--color-green);
  margin-bottom: 3px;
}

.card-news p {
  margin-top: 12px;
  font-size: 0.625rem;
  font-weight: 400;
  color: var(--color-dark-gray);
  padding-bottom: 7px;
}

.card-more-news a {
  color: var(--color-light-red);
  font-size: 14px;
  font-weight: 700;
}

#news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 244px;
    height: 67px;
    border-radius: 8px;
    background-color: var(--color-light-red);
    color: var(--color-white);
    font-size: 18px;
    font-weight: 700;
    border: none;
    margin: 8px 0;

}




@media (min-width: 768px) {
  .nav-brand {
    font-size: 24px;
  }
  .last-news h1 {
    font-size: 2.25rem;
  }

  .menu-items {
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: end;
  }
}
