/* GLOBAL ATTRIBUTES  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color-silver: #f0f0f0;
  --radio-color-ligth-gray: #999999;
  --ft-color-dark-gray: #383838;
  --color-green: #38af90;
  --color-dark-gray: #797979;
  --color-white: #ffffff;
  --color-light-red: #dd7e92;
  --color-silver: #c4c4c4;
  --color-red-suav: #dd607b;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

.container {
  width: 100%;
  max-width: 990px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}

/* HEADER */

.nav-container {
  background-color: var(--color-green);
  height: 90px;
  width: 100%;
  display: flex;
 /* position: fixed; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.nav-main {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 15px 10px;
}

.nav-main a {
  color: var(--color-white);
}
.nav-brand {
  font-size: 18px;
  font-weight: 700;
}

.menu-items {
  display: none;
}

.menu-items a {
  font-size: 14px;
  font-weight: 400;
  padding: 0 15px;
}

.image-profile {
  padding-left: 15px;
}

/* MAIN */
/* SECTION NEWS */

.last-news {
  margin: 130px 0 8px 0;
}

.title-last-news {
  color: var(--color-dark-gray);
  margin-bottom: 8px;
  margin: 0 auto;
  text-align: center;
}

.card-news {
  background-color: var(--bg-color-silver);
  margin: 0 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(79, 79, 79, 0.5);
}
.card-news h2 {
  margin-top: 16px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-green);
  margin-bottom: 3px;
}

.card-news h3 {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--color-dark-gray);
  margin: 0;
}

hr {
  margin: 0;
  border: 1px solid var(--color-green);
}

.card-news h4 {
  margin-top: 1px;
  font-size: 0.625rem;
  font-weight: 400;
  color: var(--color-green);
  margin-bottom: 3px;
}

.card-news p {
  margin-top: 12px;
  font-size: 0.625rem;
  font-weight: 400;
  color: var(--color-dark-gray);
  padding-bottom: 7px;
}

.card-more-news a {
  color: var(--color-light-red);
  font-size: 14px;
  font-weight: 700;
}

#news {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ctrl-read-more {
  width: 244px;
  height: 67px;
  border-radius: 8px;
  background-color: var(--color-light-red);
  color: var(--color-white);
  font-size: 18px;
  font-weight: 700;
  border: none;
  margin: 8px 0;
  cursor: pointer;
  margin-bottom: 40px;
}

#ctrl-read-more:hover {
  background-color: var(--bg-color-silver);
  color: var(--color-light-red);
  border: 1px solid var(--radio-color-ligth-gray);
}

/* SECTION GAMES */

.main-card-games {
  background-color: var(--bg-color-silver);
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.title-games {
  color: var(--color-green);
  margin-top: 40px;
  margin-bottom: 30px;
}

.group-cards {
  display: flex;
  flex-wrap: wrap;
  }

.card-games {
  background-color: var(--color-white);
  margin: 0 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  max-width: 300px;
  margin-bottom: 27px;
  
}

.image-game img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px 8px 0 0;
}

.card-games-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-games-description p { 
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--color-dark-gray);
  margin: 0;
}

.card-games-description p span{ 
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--color-green);
  margin: 0;
}

.title-game p {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-dark-gray);
  margin-top: 27.46px;
}

.title-prod {
  margin-top: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.rate-game {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--color-green);
  margin-top: 13px;
  margin-bottom: 15px;
}

/* SECTION FORM */

#form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
}

#form h1 {
  color: var(--color-dark-gray);
  margin-top: 40px;
  margin-bottom: 16px;
}

#form form {
  width: 100%;
  max-width: 790px;
  background-color: var(--bg-color-silver);
  margin: 0 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(79, 79, 79, 0.5);
 /* border: 1px solid yellow; */
  
}

.form-card-input{
  margin: 0 auto;
  width: 100%;
  max-width: 642px;
  padding: 50px 10px 0px 10px;
 /* border: 1px solid yellow; */
  }

  .form-card-input label{
    font-size: 1rem;
    color: var(--color-dark-gray);

  }

.form-card-input input{
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  border: 1px solid var(--color-dark-gray);
  border-radius: 4px;
  padding: 20px;
  }

  .form-card-input input::placeholder{
    color: var(--color-silver);
    font-size: 1rem;
  }

.form-main{
  margin: 0 auto;
  width: 100%;
  max-width: 642px;
  padding: 0 10px;
  font-size: 1rem;
  color: var(--color-dark-gray);
/*  border: 1px solid purple; */
  margin-bottom: 10px;
  padding-bottom: 35px;

}

.form-group {
  display: flex;
  margin: 0 auto;
}

.form-group label{
  cursor: pointer;
  padding-left: 7px;
}

.radio {
  cursor: pointer;
  width: 1.4375rem;
  appearance: none;
  width: 23px;
  height: 23px;
  border: 1px solid var(--radio-color-ligth-gray);
  border-radius: 50%;
  outline: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
}

.radio:before {
  content: '';
  position: absolute;
  height: 9px;
  width: 9px;
  background-color: var(--radio-color-ligth-gray);
  border-radius: 50%;
  opacity: 0;
  transition: all 600ms ease-in-out;
}

.radio:checked:before {
  opacity: 1;
}

.radio:focus {
   box-shadow: 0 0 2px rgba(0,0,0, 1)
}

.form-main-chkbx{
  margin-top: 35px;
  margin: 0 auto;
  width: 100%;
  max-width: 642px;
  padding: 0 10px;
  font-size: 1rem;
  color: var(--color-dark-gray);
 /* border: 1px solid purple; */
  padding-bottom: 40px;
}

.checkbox  {
  cursor: pointer;
  width: 1.4375rem;
  appearance: none;
  width: 23px;
  height: 23px;
  border: 1px solid var(--radio-color-ligth-gray);
  outline: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);

}

.checkbox:before {
  content: '';
  position: absolute;
  height: 9px;
  width: 5px;
  background-color: var(--radio-color-ligth-gray);
  opacity: 0;
  transition: all 600ms ease-in-out;
  border-right: 4px solid var(--radio-color-ligth-gray);
  border-bottom: 4px solid var(--radio-color-ligth-gray);
  transform: rotate(45deg);
  top: 2px;
}

.checkbox:checked:before {
  opacity: 1;
  background: none;
}

.checkbox:focus {
  box-shadow: 0 0 2px rgba(0,0,0, 1)
}

.form-buttons{
  width: 100%;
  max-width: 642px;
  margin: 0 auto;
 /* border: 1px solid red; */
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
   
 }

.bt-submit input {

  width: 244px;
  height: 67px;
  border-radius: 8px;
  background-color: var(--color-light-red);
  color: var(--color-white);
  font-size: 18px;
  font-weight: 700;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 20px;
  align-items: center;
}

.bt-reset input {

  width: 244px;
  height: 67px;
  border-radius: 8px;
  background-color:  var(--color-white);
  color:var(--color-light-red);
  border: 2px solid var(--color-light-red);
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 33px;
  align-items: center;
}

.bt-submit input:hover{
  background-color: var(--color-red-suav);
  color: var(--color-white);
  border: 2px solid var(--color-red-suav);
}

.bt-reset input:hover{
  background-color: var(--color-silver);
  color: var(--color-white);
  border: 2px solid var(--radio-color-ligth-gray);
}





/* RESPONSIVENESS */

@media (min-width: 768px) {
  .nav-brand {
    font-size: 24px;
  }
  h1 {
    font-size: 2.25rem;
  }

  .menu-items {
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: end;
  }
}
